<!DOCTYPE html>
<%- include("./partials/head")%>
    <html lang="es">

    <body class="body-containerP">
        <%- include("./partials/header")%>
            <div class="products-general">
                <div class="products-category-container">
                    <input type="text" class="searchAll">
                    <h4 class="h4-category">Categorías
                    </h4>
                    <%Category.forEach(category => {%>
                        <p class="product-category-item">
                            <%- category.name%>
                        </p>

                        <%})%>
                </div>

                <div class="products-container">
                    <%Product.forEach(product=> {%>

                        <div class="products-cartAll">
                            <a href="/products/detail/<%- product.id%>">
                                <div class="image-all"><img src="/imagenes/<%-product.productsimage.name%>" alt="">

                                </div>
                                <div class="detail-container-all">
                                    <h2 class="name-all">
                                        <%- product.name%>
                                    </h2>
                                    <span class="price-all"> $<%- Math.round(product.price - product.price * product.discount /100)  %> $<%- product.price%></span>
                                    <p class="discount-all">
                                        <%- product.discount%>
                                    </p>
                                    <div class="button-all-container">
                                        <div class="button-all">
                                            <a href="">
                                                <p>Comprar</p>
                                            </a>

                                        </div>
                                        <div class="button2-all">
                                            <a href="/user/productCart">
                                                <p>
                                                    Agregar al carrito
                                                </p>
                                            </a>

                                        </div>

                                    </div>
                            </a>
                            </div>


                        </div>
                        <%})%>
                </div>
            </div>
            <%- include("./partials/footer")%>
    </body>

    </html>