<%- include('./partials/head')%>

    <body class="categoriasTC">

        <!----------------------------------------------------->


        <%- include('./partials/header')%>

            <!------------------------------------------------------->

            <a href="#" class="back-home-container">
                <div class="back-home">
                    <i class="fas fa-chevron-up"></i>
                </div>
            </a>

            <!------------------------------------------------------->

            <main>

                <div class="icon-category-bar">


                    <a href='#ofertasNT' class='accesorios-tc'>
                        Ofertas<i class="fas fa-fire-alt"></i>
                    </a>


                    <a href='#notebookNT' class='accesorios-tc'>
                        Notebook<i class="fas fa-laptop "></i>
                    </a>

                    <a href='#computadorasNT' class='accesorios-tc'>
                        Computadoras<i class="fas fa-desktop "></i>
                    </a>

                    <a href='#celularesNT' class='accesorios-tc'>
                        Celulares<i class="fas fa-mobile-alt"></i>
                    </a>

                    <a href='#accesoriosNT' class='accesorios-tc'>
                        Accesorios<i class="fas fa-headphones-alt "></i>
                    </a>

                    <a href='#televisoresNT' class='accesorios-tc'>
                        Televisores<i class="fas fa-tv "></i>
                    </a>

                    <a href='#consolasNT' class='accesorios-tc'>
                        Consolas <i class="fas fa-gamepad"></i>
                    </a>

                    <a href='#combosNT' class='accesorios-tc'>
                        Combos<i class="far fa-keyboard"></i>
                    </a>

                    <a href='#tabletNT' class='accesorios-tc'>
                        Tablet<i class="fas fa-tablet-alt "></i>
                    </a>

                    <a href='#impresorasNT' class='accesorios-tc'>
                        Impresoras<i class="fas fa-print"></i>
                    </a>

                </div>

                <!------------------------------productos 1--------------------------------->
                <div id="ofertasNT">

                    <p class="secciones">Ofertas</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>


                </div>

                <!------------------------------productos 2--------------------------------->
                <div id="notebookNT">

                    <p class="secciones">Notebook</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 3--------------------------------->
                <div id="computadorasNT">

                    <p class="secciones">Computadoras</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 4--------------------------------->
                <div id="celularesNT">

                    <p class="secciones">Celulares</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>


                <!------------------------------productos 5--------------------------------->
                <div id="accesoriosNT">

                    <p class="secciones">Accesorios</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 6--------------------------------->
                <div id="televisoresNT">

                    <p class="secciones">Televisores</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 7--------------------------------->
                <div id="consolasNT">

                    <p class="secciones">Consolas</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 8--------------------------------->
                <div id="combosNT">

                    <p class="secciones">Combos</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>


                <!------------------------------productos 9--------------------------------->
                <div id="tabletNT">

                    <p class="secciones">Tablet</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>

                </div>

                <!------------------------------productos 10--------------------------------->
                <div id="impresorasNT">

                    <p class="secciones">Impresoras</p>

                    <section class="general-products ">
                        <%- include('partials/slider.ejs') %>

                    </section>
                </div>


            </main>

            <!-------------------------------------------------------------------------->
            <%- include('./partials/footer')%>
    </body>
    <script src="/js/product-slider.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    </html>