<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head',{title: 'Resultados de tu búsqueda' })%>

    <body class="body-containerP">
        <%- include("./partials/header")%>
            <div class="products-general">
                <div class="products-category-container">

                </div>

                <div class="products-container">
                    <%result.forEach(product=> {%>

                        <div class="products-cartAll">
                            <a href="/products/detail/<%- product.id%>">
                                <div class="image-all"><img src="/imagenes/<%-product.productsimage[0].name%>" alt="">

                                </div>
                                <div class="detail-container-all">
                                    <h2 class="name-all">
                                        <%- product.name%>
                                    </h2>
                                    <span class="price-all"> $<%- Math.round(product.price - product.price * product.discount /100)  %> $<%- product.price%></span>
                                    <p class="discount-all">
                                        <%- product.discount%>
                                    </p>
                                    <div class="button-all-container">
                                        <div class="button-all">
                                            <a href="">
                                                <p>Comprar</p>
                                            </a>

                                        </div>
                                        <div class="button2-all">
                                            <a href="/user/productCart">
                                                <p>
                                                    Agregar al carrito
                                                </p>
                                            </a>

                                        </div>

                                    </div>
                            </a>
                            </div>


                        </div>
                        <%})%>
                </div>
            </div>
            <%- include("./partials/footer")%>
    </body>


</html>