<section class="special-offers" id="slider_offers">

    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <style>
            .flickity-prev-next-button.next {
                right: -20px;
                background: hsla(0, 0%, 100%, 1);
            }
            
            .flickity-prev-next-button.previous {
                left: -20px;
                background: hsla(0, 0%, 100%, 1);
            }
        </style>
        <% productsSlider.forEach(product => {%>
            <article class="producto ">
                <%if (product.discount > 0) {%>


                    <%}%>

                        <div class="img-container"><img src="/imagenes/<%= product.image[0]%>" alt=" "></div>
                        <p>
                            <%= product.description %>
                        </p>
                        <h4>
                            $
                            <%=product.price%>
                                <div class="productDiscount">
                                    <%- product.discount %>% OFF</div>
                        </h4>
                        <a href="/products/detail/<%- product.id%>">
                            <div class="button ">
                                <p>COMPRAR YA</p>
                            </div>
                        </a>
            </article>
            <% }) %>

    </div>
</section>