<section class="special-offers" id="slider_offers">

    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <style>
            .flickity-prev-next-button.next {
                right: -20px;
                background: hsla(0, 0%, 100%, 1);
            }
            
            .flickity-prev-next-button.previous {
                left: -20px;
                background: hsla(0, 0%, 100%, 1);
            }
        </style>

        <% Product.forEach(Product => {%>
            <article class="producto ">
                <%if (Product.discount > 0) {%>
                    <div class="productDiscount ">
                        <%- Product.discount %>% OFF</div>

                    <%}%>

                        <div class="img-container"><img src="/imagenes/<%- Product.productsimage.name%>" alt=" "></div>
                        <p>
                            <%= Product.description %>
                        </p>
                        <h4>
                            $
                            <%=toThousand(Product.price)%>

                        </h4>
                        <a href="/products/detail/<%- Product.id%>">
                            <div class="button">
                                <p>COMPRAR YA</p>
                            </div>
                        </a>
            </article>
            <% }) %>

    </div>
</section>