<%- include('../partials/head')%>

    <body class="body__admin">
        <!----------------------------------------------------->
        <%- include('../partials/header')%>
            <!------------------------------------------------------->

            <div class="form_container">
                <h2 class="h2-adm">Administración de productos</h2>
                <hr>
                <form action="/admin/products/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="box">
                        <h4 class="h4-adm">Editar imagenes</h4>
                        <div class="imagenes_ad">
                            <div class="input-file-container">
                                <input type="file" name="image" id="" value="<%- product.image%> " multiple>
                            </div>
                        </div>
                    </div>

                    <div class="carga__form">
                        <div class="box">
                            <h4 class="h4-adm">Editar de productos</h4>
                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="name" placeholder="Producto" value="<%- product.name%>">
                            </div>

                            <div class="inputcontainer">
                                <textarea class="textarea__adm " name="description" rows="15 " cols="50 ">Descripción del producto</textarea>
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="category" placeholder="Categoria" value="<%- product.category%>">
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="discount" placeholder="Descuento" value="<%- product.discount%>">
                            </div>
                        </div>

                        <div class="box">
                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="mark" placeholder="Marca">
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="code" placeholder="Código" value="<%- product.code%>">
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="color" placeholder="Color" value="<%- product.color%>">
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="number" name="price" placeholder="Precio" value="<%= product.price%>">
                            </div>

                            <h4 class="h4-adm">Buscar Producto:</h4>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="search" name="busquedacodigo" size="20" maxlength="20" placeholder="Escribe el codigo aqui...">
                                <input class="inputstyle" type="submit" value="Buscar">
                            </div>
                        </div>

                    </div>
                    <div class="buttoncontainer">
                        <button type="submit" class="btn btn-submit">Guardar</button>
                    </div>
                </form>
            </div>

            <%- include('../partials/footer')%>

    </body>

    </html>