<%- include('../partials/head')%>

    <body class="body__admin">
        <!----------------------------------------------------->
        <%- include('../partials/header')%>
            <!------------------------------------------------------->

            <div class="form_container">
                <h2 class="h2-adm">Administración de productos</h2>
                <hr>
                <form action="/admin/products/<%=Product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="box">
                        <h4 class="h4-adm">Editar imagenes</h4>
                        <div class="imagenes_ad">
                            <div class="input-file-container">
                                <input type="file" name="image" id="" value="" multiple>

                            </div>

                        </div>

                    </div>

                    <div class="carga__form">
                        <div class="box">
                            <h4 class="h4-adm">Editar de productos</h4>
                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="name" placeholder="Nombre Producto" value="<%=locals.old? old.name: Product.name%>">
                            </div>
                            <% if(locals.errors && errors.name){ %>
                                <small class="text-validation"><%= errors.name.msg  %> </small>
                             <% } %>   



                            <div class="inputcontainer">
                                <textarea class="textarea__adm " name="description" rows="15 " cols="50 "><% Product.description %> </textarea>
                            </div>

                            <div class="inputcontainer">
                                <select name="categoryId" class="inputselect ">
                                    <% category.forEach(category => {%>
                                        <option hidden selected></option>
                                            <option value="<% category.id %>">
                                                <%- category.name %></option>
                                            <%})%>
                                    </select>

                            </div>
                            <% if(locals.errors && errors.categoryId){ %>
                                <small class="text-validation"><%= errors.categoryId.msg  %> </small>
                             <% } %> 

                            
                            <div class="inputcontainer">
                                <select name="discount" class="inputselect ">
                                    <option value="<%- Product.discount%> " hidden selected>Descuento</option>
                                    <option value="10 ">10%</option>
                                    <option value="20 ">20%</option>
                                    <option value="25 ">25%</option>
                                    <option value="30 ">30%</option>
                                    <option value="35 ">35%</option>
                                    <option value="40 ">40%</option>
                                </select>
                            </div>
                            
                        </div>

                        <div class="box">
                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="marca" placeholder="Marca" value=" <%=locals.old? old.marca: Product.marca%>">
                            </div>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="code" placeholder="Código" value="<%=locals.old? old.code: Product.code%>">
                            </div>
                            <% if(locals.errors && errors.code){ %>
                                <small class="text-validation"><%= errors.code.msg  %> </small>
                             <% } %>   

                            <div class="inputcontainer">
                                <input class="inputstyle" type="text" name="color" placeholder="Color" value=" <%=locals.old? old.color : Product.color%> ">
                            </div>

                            <% if(locals.errors && errors.price){ %>
                                <small class="text-validation"><%= errors.price.msg  %> </small>
                             <% } %>   
                            <div class="inputcontainer">
                                <input class="inputstyle" type="number" name="price" placeholder="Precio" value="<%=locals.old? old.price: Product.price%>">
                            </div>

                            <h4 class="h4-adm">Buscar Producto:</h4>

                            <div class="inputcontainer">
                                <input class="inputstyle" type="search" name="busquedacodigo" size="20" maxlength="20" placeholder="Escribe el codigo aqui...">
                                <input class="inputstyle" type="submit" value="Buscar">
                            </div>
                        </div>

                    </div>
                    <div class="buttoncontainer">
                        <button type="submit" class="btn btn-submit">Guardar</button>
                    </div>
                </form>
            </div>

            <%- include('../partials/footer')%>

    </body>

    </html>