<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main>
                <form action="/user/profile-edit/<%= user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="container-avatar">
                        <div class="profile-box">
                            <h4 class="profile-subtitle">Avatar</h4>
                            <div class="avatar">
                                <img src="/imagenes/userAvatars/<%= user.avatar%>" alt="" id="avatarProfile">
                                <div id="preview">

                                </div>

                            </div>
                        </div>
                        <div class="form-container">
                            <section class="form-register">
                                <h4>Datos de la cuenta</h4>
                                <a href="/user/profile-edit/<%- user.id%>"> <i class="fas fa-pencil-alt pencil"></i></a>
                                <hr class="divitionConfig">
                                <div class="controls" type="email" name="nombres " placeholder="Usuario ">
                                    <p class="userInformation">
                                        <%- user.email%>
                                    </p>
                                    <p class="userDescription">Correo</p>
                                </div>
                                <div class="controls" type="password" name="correo " placeholder="Contraseña ">
                                    <p class="userInformation">

                                    </p>
                                    <p class="userDescription">Contraseña</p>
                                </div>
                            </section>
                            <section class="form-register">
                                <h4>Datos personales</h4>
                                <a href="/user/profile-edit/<%- user.id%>"> <i class="fas fa-pencil-alt pencil"></i></a>

                                <hr class="divitionConfig">
                                <div class="controls" type=" text " name="nombres " placeholder="Nombre ">
                                    <p class="userInformation">
                                        <%- user.first_name%>
                                    </p>
                                    <p class="userDescription">Nombre</p>
                                </div>
                                <div class="controls" type="text " name="apellido " placeholder="Apellido ">
                                    <p class="userInformation">
                                        <%- user.last_name%>
                                    </p>
                                    <p class="userDescription">Apellido</p>
                                </div>
                                <div class="controls" type="number" name="correo " placeholder="Documento ">
                                    <p class="userInformation">
                                        <%- user.DNI%>
                                    </p>
                                    <p class="userDescription">Documento</p>
                                </div>
                                <div class="controls " type="number " name="correo " placeholder="Telefono ">
                                    <p class="userInformation">
                                        <%- user.number_phone%>
                                    </p>
                                    <p class="userDescription">Celular</p>
                                </div>
                            </section>
                            <section class="form-register ">
                                <h4>Datos de envío</h4>
                                <a href="/user/profile-edit/<%- user.id%>"> <i class="fas fa-pencil-alt pencil"></i></a>
                                <hr class="divitionConfig">
                                <div class="controls " type=" text " name="calle " placeholder="Calle ">
                                    <p class="userInformation">
                                        <%- user.street_name%>
                                    </p>
                                    <p class="userDescription">Calle</p>
                                </div>
                                <div class="controls " type="number" name="number" placeholder="Numero">
                                    <p class="userInformation">
                                        <%- user.street_number%>
                                    </p>
                                    <p class="userDescription">Número</p>
                                </div>
                                <div class="controls " type="text " name="datos " placeholder="Piso ">
                                    <p class="userInformation">Piso</p>
                                    <p class="userDescription">Piso</p>
                                </div>
                                <div class="controls " type="text " name="datos " placeholder="Dpto ">
                                    <p class="userInformation">
                                        <%- user.dto%>
                                    </p>
                                    <p class="userDescription">Dpto</p>
                                </div>
                                <div class="controls " type="number " name="dirección " placeholder="Código Postal ">
                                    <p class="userInformation">
                                        <%- user.postal_code%>
                                    </p>
                                    <p class="userDescription">Código Postal</p>
                                </div>
                                <div class=" input-container ">
                                    <div class="controls " type="number " name="dirección " placeholder="Código Postal ">
                                        <p class="userInformation">
                                            <%- user.province%>
                                        </p>
                                        <p class="userDescription">Provincia</p>
                                    </div>
                                </div>
                                <div class="input-container ">
                                    <div class="controls " type="number " name="dirección " placeholder="Código Postal ">
                                        <p class="userInformation">
                                            <%- user.localidad%>
                                        </p>
                                        <p class="userDescription">Localidad</p>
                                    </div>
                                </div>
                            </section>
                        </div>


                </form>

            </main>
            <%- include('../partials/footer')%>

    </body>
    <script src="/public/js/prev.js"></script>