<%- include('../partials/head')%>

    <body class="body-LR">
        <!----------------------------------------------------->
        <%- include('../partials/header')%>
            <!------------------------------------------------------->

            <main class="main-LR">

                <div class="contenedor__todo">
                    <div class="caja__trasera">

                        <div class="caja__trasera-login">
                            <h3>¿Ya tienes una cuenta?</h3>
                            <p>Inicia sesión para entrar en la página.</p>
                            <button id="btn__iniciar-sesion">Iniciar sesión</button>
                        </div>

                        <div class="caja__trasera-register">
                            <h3>¿Aún no tienes una cuenta?</h3>
                            <p>Regístrate para que puedas iniciar sesión.</p>
                            <button id="btn__registrarse">Regístrarse</button>
                        </div>
                    </div>

                    <!-- Formulario de login y registro -->

                    <div class="contenedor__login-register">
                        <!-- Login -->
                        <form action="" class="form__login">
                            <h2>Iniciar sesión</h2>
                            <input type="e-mail" placeholder="Correo electrónico">
                            <input type="password" placeholder="Contraseña">

                            <button>Iniciar sesión</button>
                        </form>
                        <!-- Register -->
                        <form action="/users/register" method="POST" enctype="multipart/form-data"
                            class="form__register">
                            <h2>Regístrarse</h2>
                            <input type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
                                <% if (locals.errors && errors.name) { %>
                                    <small class="text-danger"><%= errors.name.msg %></small>
                                    <% } %>

                            <input type="text" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name %>">
                                <% if (locals.errors && errors.last_name) { %>
                                    <small class="text-danger"><%= errors.last_name.msg %></small>
                                    <% } %>

                            <input type="e-mail" name="email" placeholder="Correo electrónico">
                                <% if (locals.errors && errors.email) { %> 
                                    <small class="text-danger"><%= errors.email.msg %></small>
                                    <% } %>

                            <input type="password" name="pass1" placeholder="Contraseña">
                                <% if (locals.errors && errors.pass1) { %>
                                    <small class="text-danger"><%= errors.pass1.msg %></small>
                                    <% } %>

                            <input type="password" name="pass2" placeholder="Confirmar contraseña">
                                <% if (locals.errors && errors.pass2) { %>
                                    <small class="text-danger"><%= errors.pass2.msg %></small>
                                    <% } %>

                             <button>Regístrarse</button>
                        </form>
                    </div>
                </div>

            </main>
            <%- include('../partials/footer')%>

                <script src="/js/script-register.js"></script>
    </body>

    </html>